<section class='section container-fluid'>

      <div class = "user-account">
      <div class = "setings">
          <i class="fa fa-cog icon" aria-hidden="true"></i>
            <%= link_to 'Profile', edit_user_registration_path %>
      </div>
          <br />
          <div class = "setings">
            <i class = "fa fa-book icon", aria-hidden="true"></i> 
            <%= link_to 'My Books'%>
          </div>
        <br>

         <div class = "setings">
            <i class = "fa fa-book icon", aria-hidden="true"></i> 
            <%= link_to 'Recommended'%>
          </div>
        <br>

        <div class = "setings">
            <i class="fa fa-plus icon" aria-hidden="true"></i>
            <%= link_to 'Add new book' %>
        </div>
        <br />
        <div class = "setings">
        <i class="fa fa-users icon" aria-hidden="true"></i>
        <%= link_to 'Groups'%>
        </div>
      </div>
    </div>

</section>