<div class="container-fluid">
    <h1 class="text-white center-nav"><%= @user.name %>'s Books</h1>

<div>
  <h4 class="card-title text-muted">You have <%= pluralize(@books.count, "book")%> in your library: </h4>

</div>
          <div class="row container-fluid books">
        <% @books.each do |book|%>
        
        <div class="col-md-3 col-sm-6">
            <a href = "<%= books_url(book.id) %>">
                <%= link_to cl_image_tag(book.image), book_path(book), class: "book" %>
                            
            </a>
          </div>

        <%end%>
        </div>
    <br />
    <%= link_to 'Add new book', new_book_path, class: "p-1 text-white submit" %>

</div>