<div class="section">
 <div class = "container">
    <div class = "columns is-centered">
      <div class = "column is_4">
          <h1>New Book</h1>
          <%= simple_form_for(@book) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs ">
            <div class = "image-field">
              <%= f.file_field :image %>
            </div>
              <%= f.input :title %>
              <%= f.input :author %>
              <%= f.input :description %>
            </div>

            <div class="form-actions">
              <%= f.button :submit,class: "submit" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>