<p id="notice"><%= notice %></p>

<h2>
  <%= @book.title %>
</h2>


<span class ="back">
  <%= link_to "Back", root_path, class: "text-success"%>
</span>

<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
    <%= link_to "Edit", edit_book_path(@book), class: "text-success" %>
    <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are You Sure?"} %>
  <% end %>
<% end %>