  <div class = "col-md-4">
    <%= link_to image_tag(@book.image), books_path, class: "book-show" %>
  </div>

<h2>
  <%= @book.title %>
</h2>

<p> <%= @book.description %> </p>


<span class ="back">
  <%= link_to "Back", root_path%>
</span>

<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are You Sure?"} %>
  <% end %>
<% end %>